:root {
    --main-bg-color: #1e1e1e;
    --header-color: #2e2a2a;
    --text-primary: #ffffff;
    --text-secondary: #c5c5c5;
    --table-borders: #3a3a3a;
    --table-headers-bg: #2e2a2a;
    --search-input-bg: #2f2f2f;
    --search-input-border: #444444;
    --add-book-button-bg: #264f78;
    --add-book-button-text: #e0e0e0;
    --read-button-active: #117447;
    --read-button-inactive: #3a3a3a;
}
#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    background-color: var(--main-bg-color);
    min-height: 100vh;
}
/* Header Styling  */
#header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-row: 1 / 2;
    background-color: var(--header-color);
    font-family: 'robotoregular';
}
#websiteName {
    color: var(--text-primary);
    font-size: 2rem;
    margin-left: 20px;
}
#addBook__block {
    display: flex;
    justify-content: center;
    align-items: center;
}
#addBook__button {
    background-color: var(--add-book-button-bg);
    color: var(--add-book-button-text);
    height: 80%;
    font-family: 'robotoregular';
    font-weight: bold;
    border-radius: 6px;
    border: none;
    padding: 8px;
    margin: 5px;
    box-shadow: 1px 1px 1px var(--main-bg-color);
}
#addBook__button:hover {
    scale: 1.1;
    cursor: pointer;
}

/* Main content styling */
td, th {
    border-bottom: solid 1px var(--table-borders);
    padding: 0.5rem;
    padding-left: 1rem;
    color: var(--text-primary);
    text-align: left;
}
th {
    background-color: var(--table-headers-bg);
    font-weight: bold;
    color: var(--text-secondary)
}
#content {
    justify-self: stretch;
    padding: 20px;
    font-family: "robotoregular";
}
table {
    justify-self: stretch;
    border-collapse: collapse;
    margin: 25px 0;
    table-layout: fixed;
    width: 100%;
}
.deleteButton {
    background-color: var(--read-button-inactive);
    color: var(--add-book-button-text);
    font-family: "robotoregular";
    border-radius: 5px;
    border: none;
    padding: 8px;
}
.deleteButton:hover {
    scale: 1.1;
    cursor: pointer;
}

/* Form styling */
#formBlock {
    display: block;
    background-color: var(--header-color);
    position: fixed;
    justify-content: stretch;
    align-content: stretch;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    width: 250px;
    max-width: 50%;
    height: 300px;
    max-height: 100%;
    border-radius: 5px;
}
#formBlock.active {
    transform: translate(-50%, -50%) scale(1);
}
#addBook__form {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    align-self: stretch;
    font-family: "robotoregular";
}
#addBook__form__1stblock {
    padding: 15px;
}

#addBook__form__2ndblock {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#formBlockHeader {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "robotoregular";
    padding: 0px 15px;
    display: flex;
    color: var(--text-secondary);
    justify-content: space-between;
    align-items: center;
}
#closeFormButton {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--header-color);
}
#addBook__form input[type='text'] {
    flex-grow: 1;
    justify-self: center;
    width: 100%;
}
#addBook__form input[type='number'] {
    width: 100%;
}
label {
    display: block;
}
input {
    box-sizing: border-box;
}
#form__read {
    margin: 0px 10px;
}
#haveReadBlock {
    display: flex;
}
#addBook__submit {
    background-color: var(--add-book-button-bg);
    color: var(--add-book-button-text);
    height: 80%;
    font-family: 'robotoregular';
    font-weight: bold;
    border-radius: 6px;
    border: none;
    padding: 8px;
    box-shadow: 1px 1px 1px var(--main-bg-color);
}
#addBook__submit:hover {
    scale: 1.1;
    cursor: pointer;
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* read button styling */
.readButton {
    font-family: "robotoregular";
    color: var(--text-secondary);
    border: none;
    border-radius: 5px;
    padding: 8px;
}
.readButton:hover {
    scale: 1.1;
    cursor: pointer;
}
.readButton.read{
    background-color: var(--read-button-active);
    color: var(--text-primary)
}
.readButton.notread {
    background-color: var(--read-button-inactive);
}